<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Sword Art Online Episode 1</p>
<div style="margin: auto">
    <video width="720" height="680" controls>
        <source src="https://redirector.googlevideo.com/videoplayback?expire=1597209996&ei=bGEzX6LHHIHJ-QWa3oLoDg&ip=23.108.46.208&id=dccbf271b85c7d42&itag=22&source=picasa&begin=0&requiressl=yes&mh=Cg&mm=32&mn=sn-5ualdnl7&ms=su&mv=u&mvi=1&pl=19&sc=yes&ttl=transient&susc=ph&app=fife&eaua=Hc4udRUoZ_0&mime=video/mp4&cnr=14&dur=1422.593&lmt=1586673547719713&mt=1597202564&sparams=expire,ei,ip,id,itag,source,requiressl,ttl,susc,app,eaua,mime,cnr,dur,lmt&sig=AOq0QJ8wRQIgIp_YkvTymw_VgLsha5C2oXZw3qEQzE0HiYtxB3HZphICIQDE3TM6TBEFZ3Pdkp9EhAesV9kmteBHKQYhnb8jLJhGiQ==&lsparams=mh,mm,mn,ms,mv,mvi,pl,sc&lsig=AG3C_xAwRQIhAPBYCCDL_5L1obW0BIC0f8Q71SnN5LQT1OUBkntl-5fMAiAGzGiS8Xf5v8_O5zjMVhPa3nDrx1c3QGjzzm809RMP8w==&jparams=MjMuMTcuMjE2LjEyOQ&upx=TW96aWxsYS81LjAgKFdpbmRvd3MgTlQgMTAuMDsgV2luNjQ7IHg2NCkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzgxLjAuNDA0NC4xMzggU2FmYXJpLzUzNy4zNg#betaHost&tr=2" type="video/mp4">
    </video>
</div>
</body>
</html>
